.MuiPaper-root:{
  background-color: none;
}
/* .container-wide {
    width: 1790px;
    padding: 0 15px;

} */
/* a:hover {
  color: #0f3a42;
} */
.PrivateTabIndicator-root-3.PrivateTabIndicator-colorPrimary-4.MuiTabs-indicator {
  background-color: #ffffff;
}
.PrivateTabIndicator-colorPrimary-4 {
  background-color: #ffffff
}
.PrivateTabIndicator-colorPrimary-7 {
  background-color: #ffffff;
}
